<!doctype html>
<html lang="en">
<head>
<%- include ("./headerscript.html") -%>
</head>
<body>
<%- include ("./header.html") -%>

    <div class="card-body">
        <div class="position-relative form-group">
            <div id="btn-add" style="width: 40px;height: 40px; cursor: pointer; opacity: 0.7" onmouseover="this.style.opacity=1"  onmouseout="this.style.opacity=0.7">
                <div style="background-image: url(/images/plus.png); background-size: auto 100%; background-repeat: no-repeat; width: 100%; height: 100%">

                </div>
            </div>
        </div>
        <div class="position-relative form-group" style="display: flex;">

            <div class="form-group" style="width: 40%;">
                <label style="font-weight: bold;">Project</label>
                <select id="project_id" class="form-control select2" style="width: 100%;">
                </select>
            </div>
            <div style="width: 5%"></div>
            <div class="form-group" style="width: 40%;">
                <label style="font-weight: bold;">Category</label>
                <select id="category_id" class="form-control select2" style="width: 100%;">
                </select>
            </div>
        </div>
        <table id="datatable"></table>

    </div>

<%- include ("./footer.html") -%>
</body>

<script>
$(document).ready(function(){
    
    loadProjects(function(projects){
        displayProjects(projects);
        loadCategories(function(categories){
            displayCategories(categories);
            loadNotes();
        })
    })
    
    $("#category_id").on("change", function(){
        loadNotes();
    });
    $("#project_id").on("change", function(){
        loadNotes();
    });

    $("#btn-add").click(function(e){
        location = 'note/add'
    });
})

var table = null;
function loadNotes()
{
    var project = $("#project_id").val();
    var category = $("#category_id").val();

    var url = "/note/find-by-project-category/" + project + "/" + category;
    console.log(url);

    $("#loader").show();
    $.get(url, function(response){
        $("#loader").hide();
        if(response.success)
        {
            var notes = response.payload;
            console.log(notes)

            for(var i=0; i < notes.length; i++)
            {
                notes[i].edit = "<div style='cursor: pointer' onclick='editNote(" + notes[i].id + ")'><image src='/images/edit.png'></div>"
                notes[i].delete = "<div style='cursor: pointer' onclick='deleteNote(" + notes[i].id + ")'><image src='/images/trash.png'></div>"
            }

            if(table != null)
                table.destroy();

            table = $("#datatable").DataTable({
                data: notes,
                columns: [
                    { title: "Title", data:"title"},
                    { title: "Short Desc", data: "short_desc"},
                    { title: "Tags" , data: "tags"},
                    { title: "Category" , data: "category.category_name"},
                    { title: "Project" , data: "project.project_name"},
                    { title: "Created At" , data: "createdAt"},
                    { title: "" , data: "edit"},
                    { title: "" , data: "delete"},
                ]
            })
        }
        else{
            alert("Error : " + JSON.stringify(response.error));
        }
    });    
}


function deleteNote(i)
{

    var url = "/note/delete/" + i;
    $("#loader").show();
    $.get(url,  function(response){
        $("#loader").hide();
        if(response.success)
        {
            toastr.info("Note has been deleted", "Success", {timeOut: 1000})
            loadNotes();
        }
        else{
            alert("Error : " + JSON.stringify(response.error));
        }
    });
}

function editNote(i)
{
    location = "/web/note/edit/" + i;
}

function loadProjects(callback)
    {
        var url = "/project";
        $("#loader").show();
        $.get(url, function(response){
            $("#loader").hide();
            var projects = response.payload;
            if(callback != null)
                callback(projects);
        });
    }

    function loadCategories(callback)
    {
        var url = "/category";  
        $("#loader").show();
        $.get(url, function(response){
            $("#loader").hide();
            var categories = response.payload;
            if(callback != null)
                callback(categories);
        });
    }

    function displayProjects(projects)
    {
        $("#project_id").html("");
        $("#project_id").append("<option value='*'>All</option>")
        projects.map(function(item){
            $("#project_id").append("<option value='" + item.id + "'>" + item.project_name + "</option>")
        });
    }

    function displayCategories(categories)
    {
        $("#category_id").html("");
        $("#category_id").append("<option value='*'>All</option>")
        categories.map(function(item){
            $("#category_id").append("<option value='" + item.id + "'>" + item.category_name + "</option>")
        });
    }

</script>
</html>


