<!doctype html>
<html lang="en">
<head>
<%- include ("./headerscript.html") -%>
</head>
<body>
<%- include ("./header.html") -%>

    <div class="card-body">
        <div class="position-relative form-group" style="display: flex; flex-direction: row;">
            <div id="btn-add" style="width: 40px;height: 40px; cursor: pointer; opacity: 0.7" onmouseover="this.style.opacity=1"  onmouseout="this.style.opacity=0.7">
                <div style="background-image: url(/images/plus.png); background-size: auto 100%; background-repeat: no-repeat; width: 100%; height: 100%">

                </div>
            </div>
        </div>
        <table id="datatable"></table>

    </div>

<%- include ("./footer.html") -%>
</body>

<script>
$(document).ready(function(){

    loadProjects();

    $("#btn-add").click(function(e){
        location = '/web/project/add';
    });

})

var table = null;
function loadProjects()
{
    var url = "/project";

    $.get(url, function(response){
        if(response.success)
        {
            var projects = response.payload;
            console.log(projects)

            for(var i=0; i < projects.length; i++)
            {
                projects[i].edit = "<div style='cursor: pointer' onclick='editProject(" + projects[i].id + ")'><image src='/images/edit.png'></div>"
                projects[i].delete = "<div style='cursor: pointer' onclick='deleteProject(" + projects[i].id + ")'><image src='/images/trash.png'></div>"
            }

            if(table != null)
                table.destroy();

            table = $("#datatable").DataTable({
                data: projects,
                columns: [
                    { title: "Name", data:"project_name"},
                    { title: "Client", data: "client_name"},
                    { title: "Description" , data: "description"},
                    { title: "" , data: "edit"},
                    { title: "" , data: "delete"},
                ]
            })
        }
        else{
            alert("Error : " + JSON.stringify(response.error));
        }
    });    
}


function deleteProject(i)
{

    var url = "/project/delete/" + i;
    $.get(url,  function(response){
        if(response.success)
        {
            toastr.info("Project has been deleted", "Success", {timeOut: 1000})
            loadProjects();
        }
        else{
            alert("Error : " + JSON.stringify(response.error));
        }
    });
}

function editProject(i)
{
    location = "/web/project/edit/" + i;
}

</script>
</html>


