<!doctype html>
<html lang="en">
<head>
<%- include ("./headerscript.html") -%>
</head>
<body>
<%- include ("./header.html") -%>

    <div class="card-body">
        <form>
            <div class="position-relative form-group">
                <label for="project_name" class="">Project name</label>
                <input id="project_name" placeholder="" type="text" class="form-control">
            </div>
            <div class="position-relative form-group">
                <label for="client_name" class="">Client name</label>
                <input id="client_name" placeholder="" type="text" class="form-control">
            </div>
            <div class="position-relative form-group">
                <label for="description" class="">Project information</label>
                <input id="description" placeholder="" type="text" class="form-control">
            </div>
            <div style="width: 100%; display: flex" class="position-relative form-group">
                <div style="width: 45%; flex:1">
                    <button id="btn-register" style="width: 100%" type="button" class="btn btn-block btn-primary">Save</button>
                </div>
                <div style="width:1%"></div>
                <div style="width: 45%; flex:1">
                    <button id="btn-back" style="width: 100%" type="button" class="btn btn-block btn-primary">Back</button>
                </div>
            </div>
        </form>
    </div>

<%- include ("./footer.html") -%>
</body>

<script>
    $(document).ready(function() {

        <% if( mode == "edit" ) { %>
        loadProject(<%=id %>, function(project){
            displayProject(project);
        }, function(error){
            errorLoadProject(error);
        });
        <% } %>

        $("#btn-register").click(function(){
            registerProject(<%=id %>);
        })

        $("#btn-back").click(function(){
            location = "/web/projects";
        })
    });

    function loadProject(id, callback, callbackError)
    {
        var url = "/project/get/" + id;
        $.get(url, function(response){
            
            if(callback != null)
            {
                console.log(response.payload);
                callback(response.payload);
            }
        });
    }

    function displayProject(project)
    {
        console.log(project);
        $("#project_name").val(project.project_name);
        $("#client_name").val(project.client_name);
        $("#description").val(project.description);
    }

    function errorLoadProject(err)
    {
        toastr.info(JSON.stringify(err));
    }

    function registerProject(id)
    {
        var o = {};
        o.project_name = $("#project_name").val();
        o.client_name = $("#client_name").val();
        o.description = $("#description").val();

        console.log(JSON.stringify(o));

        <% if( mode == "edit" ) { %>
        var url = API_HOST + "/project/update/" + id;
        <% } %>

        <% if( mode != "edit" ) { %>
        var url = API_HOST + "/project/create";
        <% } %>

        $.post(url, JSON.stringify(o), function(response){
            if(response.success)
            {

                toastr.options.onHidden = function() { location = "/web/projects"; }
                toastr.info("Project has been saved", "Success", {timeOut: 1000})
            }
            else
            {
                toastr.info(response.message);
            }
        })
    }


</script>
</html>


